RewriteEngine On
RewriteBase /nulacs_dev/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(templates|plugins|resources|robots\.txt)
RewriteRule ^(.*)$ /nulacs_dev/index.php/$1 [L]